body {
    margin: 0;
    background-color: rgb(232, 236, 239);
    font-family: Arial, sans-serif;
  }
  
  .top-bar {
    background-color: #222;
    color: #fff;
    padding: 5px 20px;
    font-size: 14px;
    display: flex;       
    justify-content: space-between; 
    align-items: center;          
    gap: 25px;            
  }
  .timerlar{   
    display: flex;
    gap: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;  
  }
  .giriskaydol{
    display: flex;
    gap: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;  
  }
  .giriskaydol a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;  
  }
  #giris:hover, #kaydol:hover {
    color: #f20a0a;
    transition: color 0.3s;

  }
  .f1-navbar {
    background-color: #DC0000 !important;  /* F1 kırmızısı */
      font-family: Orbitron, sans-serif;
}
.navbar-brand {
  letter-spacing: 1px;
  font-weight: 700;
}
.f1-navbar .nav-link,
.f1-navbar .navbar-brand,
.f1-navbar .dropdown-item {
    color: #f3e5e5 !important;  /* Beyaz yazı */
}

.f1-navbar .nav-link:hover,
.f1-navbar .dropdown-item:hover {
    color: #000000 !important; /* Hover'da siyah yazı */
}
.f1-navbar .dropdown-menu {
  background-color: #DC0000; /* F1 kırmızısı */
  border: none; /* İstersen çerçevesiz şık görünüm */
}

.f1-navbar .dropdown-item {
  color: #FFFFFF; /* Beyaz yazı */
}

.f1-navbar .dropdown-item:hover {
  background-color: #000000; /* Hover arka plan: Siyah */
  color: #FFFFFF !important; /* Yazı beyaz kalsın */
}
.navbar-nav {
  margin-left: 40px; 
}